*****************************************************************************
*                                                                           *
* DRILL TAPE SUMMARY REPORT                                                 *
*                                                                           *
* F:\MUSHTAQ PCB\SAJJAD HUSSAIN\DDL\ICCC-PD-24-PCBR0500\DATA LOGGER-68.MAX  *
* Fri Oct 10 12:34:17 2014                                                  *
*                                                                           *
*****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       200      182      200      100                                                                                 
T2       280      14       200      100                                                                                 
T3       310      23       200      100                                                                                 
T4       340      15       200      100                                                                                 
T5       360      1        200      100                                                                                 
T6       370      21       200      100                                                                                 
T7       400      122      200      100                                                                                 
T8       450      6        200      100                                                                                 
T9       470      18       200      100                                                                                 
T10      700      4        200      100                                                                                 
T11      1000     2        200      100                                                                                 
T12      1260     8        200      100                                                                                 
