*****************************************************************************
*                                                                           *
* DRILL TAPE SUMMARY REPORT                                                 *
*                                                                           *
* F:\MUSHTAQ PCB\SAJJAD HUSSAIN\DDL\ICCC-PD-24-PCBR0500\DATA LOGGER-69.MAX  *
* Tue Oct 14 09:14:30 2014                                                  *
*                                                                           *
*****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       180      182      200      100                                                                                 
T2       250      80       200      100                                                                                 
T3       280      14       200      100                                                                                 
T4       310      23       200      100                                                                                 
T5       340      15       200      100                                                                                 
T6       360      1        200      100                                                                                 
T7       370      21       200      100                                                                                 
T8       400      42       200      100                                                                                 
T9       450      6        200      100                                                                                 
T10      470      18       200      100                                                                                 
T11      700      4        200      100                                                                                 
T12      1000     2        200      100                                                                                 
T13      1260     8        200      100                                                                                 
